/* Contenedor principal */
.apartamento-details {
    display: flex;
    flex-direction: column;
    padding: 0 25%;
  }
  
  /* Textos principales */
  
  .name-apartamento {
    font: Helvetica neue;
    font-size: 32px;
    color: #000000;
  }
  
  .text-precio {
    display: flex;
    align-items: baseline;
    color: #0055FB;
  }
    
  
  /* Contenedor de la imagen */
  .image-container {
    max-width: 600px;
    margin-bottom: 30px;
  }
  
  .image-container img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #ddd;
  }
  /* Información adicional debajo de la imagen */
  

  