.imagenes {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  aspect-ratio: 16/9;
}

/* .headerLogo{
  display: flex;
  margin-bottom: 2rem;
  border-color: var(--tarawera);
  border-style: solid;
  height: 100px;
  border-radius: 20px;
} */

.headerPrincipal{
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100%;
  position: relative;
    
  margin-bottom: 2rem;
}


.header{
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 100%;
  position: relative;
    
  margin-bottom: 2rem;
}
.contenedorMenu{
  width: 80px;
  height: 38px;
  border-radius: 10px;
  display: flex;
  float: right;
  margin-top: -90px;
  margin-right: 25px;
  padding: 2px;
  background-color: var(--white);
}


.iconos{
  display: flex;
  width: 70%;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25%;


  color: var(--tarawera);
}
.header , .sombraHeader{
  border-radius: 20px;
}
.sombraHeader{
  background-color: rgb(0 0 0 /20%);
  height: 100%;
    
}

.button-create{
  background-color: var(--tarawera);
  color: white;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-create:hover{
  background-color: var(--breaker-bay);
}

.button-view{
  width: 20%;
  padding-right: 6%;
  padding-top: 1%;
  text-align: right;
}

.nombreApp{
  margin: 0;
  padding: 35px;
  font-size: 2rem;
  font-weight: bold;
  color: var(--tarawera);
  text-align: left;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-left: 4%;
  padding-right: 4%;

}

.propiedad {
  display: flex;
  background-color: #ffffff;
  padding: .4rem;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 2px 6px 20px var(--christi);
}

.contenedorImagenes{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.propiedad:hover {
  transform: translateY(-5px);
}

.logo {
  margin-top: 20px;
  margin-left: 20px;
  height: 100%;
  float: left;
}
.textos{
  display:block;
  font-size: 1rem;
  width: 40%;
  color: var(--tarawera);
  margin-left: 3%;

}

.tituloHome{
  font-size: 2rem;
  margin-left: 5%;
}

.icono{
  width: 100%;
  height: 100%;
}
.icono:hover{
  color: var(--breaker-bay);
  cursor: pointer;
}

.tituloPropiedad{
  text-align: left;
}

.propietarioPropiedad{
  color: var(--black);
}

.propietario{
  display: flex;
  gap: .5rem;
  
}

.contenidoMensaje{
  display: flex;
}

.tituloMensaje{
  display: block;
  text-align: center;
}



.formulario-propiedad {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.formulario-propiedad .texto {
  background: #ffffff;
  height: 620px;
  width: 400px;
  border: 2px solid #000000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textoEncabezado {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.texto-h3 {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}
