.imagenes {
  width: 100%;
  border-radius: 30px;
}

.headerLogo{
  display: flex;
  margin-bottom: 2rem;
  border-color: var(--tarawera);
  border-style: solid;
  height: 100px;
  border-radius: 20px;
}

.button-create{
  background-color: var(--tarawera);
  color: white;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-create:hover{
  background-color: var(--breaker-bay);
}

.button-view{
  width: 20%;
  padding-right: 6%;
  padding-top: 1%;
  text-align: right;
}


.welcome-text{
  margin: 0;
  padding: 0;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  width: 60%;
  text-align: left;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 3fr);
  gap: 1.5rem;
  padding-left: 4%;
  padding-right: 4%;

}

.propiedad {
  display: flex;
  background-color: #ffffff;
  padding: 2rem;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 2px 6px 20px var(--christi);
}

.propiedad:hover {
  transform: translateY(-5px);
}

.logo {
  height: 100%;
  float: left;
}
.textos{
  display:block;
  font-size: 1.2rem;
  color: #d88628;
  margin: 1.5rem;

}

.tituloPropiedad{
  text-align: left;
}

.descripcionPropiedad{
  color: black;
}

.contenedorImagenes{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 300px;
}

.formulario-propiedad {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.formulario-propiedad .texto {
  background: #ffffff;
  height: 620px;
  width: 400px;
  border: 2px solid #000000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
