:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #ffffff;
  --ziggurat: #bfdcdf;
  --atlantis: #9ed23b;
  --tarawera: #053b47;
  --christi: #63aa0e;
  --apple: #4c8c34;
  --smalt-blue: #55878d;
  --plantation: #2a6349;
  --parsley: #0f4d1a;
  --breaker-bay: #6ca2ac;
  --blue-bayoux: #446b71;
}
